<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up <img src="assets/images/World-Malyalee-Council.svg" class="tool-bar-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="addUserData(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.firstName">
        <div class="error-message"
          *ngIf="validations_form.get('firstName').hasError(validation.type) && (validations_form.get('firstName').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <ion-item>
      <ion-label position="floating" color="primary">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.lastName">
        <div class="error-message"
          *ngIf="validations_form.get('lastName').hasError(validation.type) && (validations_form.get('lastName').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <!-- <ion-item>
      <ion-label position="floating" color="primary">Code</ion-label>
      <ion-select placeholder="+" formControlName="countryCode">
        <ion-select-option *ngFor="let i of paiseCode" [value]="i">{{i.pais}}
        </ion-select-option>
      </ion-select>
      <ion-label position="floating" color="primary">Mobile number</ion-label>
      <ion-input type="number" formControlName="mobileNumber"></ion-input>
      
    </ion-item> -->
    <ion-item>
      <ion-label position="floating" color="primary">Mobile number</ion-label>
      <ion-intl-tel-input 
        formControlName="phoneNumber" >
      </ion-intl-tel-input>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.mobileNumber">
        <div class="error-message"
          *ngIf="validations_form.get('mobileNumber').hasError(validation.type) && (validations_form.get('mobileNumber').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <ion-item>
      <ion-label  position="floating" color="primary">Region</ion-label>
      <ionic-selectable
        
      formControlName="region"
        [items]="regions"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="regionChange($event)"
       >
      </ionic-selectable>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.region">
        <div class="error-message"
          *ngIf="validations_form.get('region').hasError(validation.type) && (validations_form.get('region').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <ion-item>
      <ion-label position="floating" color="primary">Country</ion-label>
      <ionic-selectable
        
      formControlName="country"
        [items]="countries"
        itemValueField="alpha2Code"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="countryChange($event)"
       >
      </ionic-selectable>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.country">
        <div class="error-message"
          *ngIf="validations_form.get('country').hasError(validation.type) && (validations_form.get('country').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
    <ion-item>
      <ion-label position="floating" color="primary">Province</ion-label>
      <ionic-selectable
        
      formControlName="province"
        [items]="provinces"
        itemValueField="shortCode"
        itemTextField="name"
        [canSearch]="true"
       >
      </ionic-selectable>
    </ion-item>
    <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.province">
        <div class="error-message"
          *ngIf="validations_form.get('province').hasError(validation.type) && (validations_form.get('province').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div> -->
   

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">Already have an account? <a (click)="goLoginPage()">Try to Log In.</a></p>
</ion-content>
<ion-footer>
  <div class="bottom_bar">
    <p class="info1" style="text-align: center;
    margin: 0px;
    margin-bottom: 4px;

    color: #383838;
    font-size: 12px;">
    Developed by INSYSME</p>
    <!-- put some elements here -->
  </div>
</ion-footer>