ion-menu-button {
    color: var(--ion-color-primary);
  }
  
.parent-card
{
  border-radius: 20px !important;


    ion-card-content
    {
       .view-more
       {
         float: right;
       }

      .card-image
      {
        border-radius: 10px;
      }


.primary-btn
{
 
  background: #1f4287 !important;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;


  
}

    }

ion-row.footer
{
text-align: center;
.like-icon 
{
  margin: auto;
  display: inline-block;
  font-size: 22px;
  color: #1f4287;
  margin-right: 16px;
}
.comment
{
  margin: auto;
  display: inline-block;
  font-size: 22px;
  color: #1f4287;
}
.label-name
{
  font-size: 12px;
  margin: 0px !important;
}
}

}
