<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
 
    <ion-card class="parent-card" *ngFor="let article of articles">
      <ion-card-header>
        <p>{{article.createdAt.toDate() | date: 'medium'  }}</p>
        <ion-card-title class="primary-color">{{article.title}}</ion-card-title>
        <ion-card-subtitle class="secondary-color">{{article.subtitle}} </ion-card-subtitle>
      
      </ion-card-header>

      
    
      <ion-card-content class="content-color">
        <img src="assets/images/image1.jpg" class="card-image" />
       {{article.description}}
       <ion-row >
        <ion-col size="12">
      <button class="view-more primary-btn" (click)="readMore(article.url)">View More</button>
    </ion-col>
      </ion-row>
      </ion-card-content>


    

      <ion-row class="footer">
        <ion-col size="12">
          <div class="like-icon">  
          <ion-icon name="heart-outline" ></ion-icon>
          <p class="label-name"> 12 Likes</p>
          </div >
          <div   class="comment">  
  
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <p class="label-name"> 12 Messages</p>
          </div>
        </ion-col>
      
      </ion-row>
  
    </ion-card>


    <!-- <ion-card class="parent-card">
      <ion-card-header>
        <p>6 hrs ago</p>
        <ion-card-title class="primary-color">Organisational Discipline, Ethics and Democratic Functioning</ion-card-title>
        <ion-card-subtitle class="secondary-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </ion-card-subtitle>
      
      </ion-card-header>

      
    
      <ion-card-content class="content-color">

        An organisation to be effective in its functioning need to be disciplined and
        should have a clear and well defined unity of command. Also the rules of
        functioning and operational limits should be specified through rules. In the
        present scenario, discipline in WMC is a very loose concept. Our byelaws
        have some lacuna which is responsible for the evolution of the present
        culture in WMC.

        <ion-row >
          <ion-col size="12">
        <button class="view-more primary-btn">View More</button>
      </ion-col>
        </ion-row>
      </ion-card-content>


    

      <ion-row class="footer">
        <ion-col size="12">
          <div class="like-icon">  
          <ion-icon name="heart-outline" ></ion-icon>
          <p class="label-name"> 12 Likes</p>
          </div >
          <div   class="comment">  
  
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <p class="label-name"> 12 Messages</p>
          </div>
        </ion-col>
      
      </ion-row>
  
    </ion-card> -->



    <!-- <ion-card class="parent-card">
      <ion-card-header>
         <p>10 hrs ago</p>
        <ion-card-title class="primary-color">Organisational Discipline, Ethics and Democratic Functioning</ion-card-title>
        <ion-card-subtitle class="secondary-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </ion-card-subtitle>
      
      </ion-card-header>

      
    
      <ion-card-content>
        <img src="assets/images/image1.jpg" class="card-image" />
        An organisation to be effective in its functioning need to be disciplined and
        should have a clear and well defined unity of command. Also the rules of
        functioning and operational limits should be specified through rules. In the
        present scenario, discipline in WMC is a very loose concept. Our byelaws
        have some lacuna which is responsible for the evolution of the present
        culture in WMC.
      </ion-card-content>


    

      <ion-row class="footer">
        <ion-col size="12">
          <div class="like-icon">  
          <ion-icon name="heart-outline" ></ion-icon>
          <p class="label-name"> 12 Likes</p>
          </div >
          <div   class="comment">  
  
          <ion-icon name="chatbubbles-outline"></ion-icon>
          <p class="label-name"> 12 Messages</p>
          </div>
        </ion-col>
      
      </ion-row>
  
    </ion-card> -->
    
   
    
    

  </div>
</ion-content>
