<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery   <img src="assets/images/World-Malyalee-Council.svg" class="tool-bar-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="gallery"> 
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6" *ngFor="let album of albums " (click)="gotoPhotos(album.images)">
            
        <div *ngFor="let image of album.images;let index= index" >
            <ion-row *ngIf="index==0"  [ngStyle]="{'background-image':'url(' + image.url + ')'}"  class="center-cropped">
              <!-- <ion-row style="background-image: url('getImageurl({{album.images[1]}})');"  class="center-cropped">  -->
              <ion-row class="gradiant"> 
                <p>{{album.title}} </p>  
                
              </ion-row>
           
            </ion-row>
          </div>
          </ion-col>
          <!-- <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/11.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/12.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading Given any arbitrary image, I want to crop </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/13.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/14.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/15.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/11.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/12.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/13.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/15.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading Given any arbitrary image, I want to crop </p>  
                </ion-row>
              </ion-row>
          </ion-col> -->
       
        
        </ion-row>
      
      </ion-col>
      <ion-col size="6">
     
      </ion-col>
    
    </ion-row>
  </div>

   
  </ion-grid>
</ion-content>
<ion-footer>
  <div class="bottom_bar">
    <p class="info1" style="text-align: center;
    margin: 0px;
    margin-bottom: 4px;

    color: #383838;
    font-size: 12px;">
    Developed by INSYSME</p>
    <!-- put some elements here -->
  </div>
</ion-footer>