<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="gallery"> 
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/image1.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/11.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/12.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading Given any arbitrary image, I want to crop </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/13.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/14.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/15.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/11.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/12.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading </p>  
                </ion-row>
              </ion-row>
          </ion-col>
          <ion-col size="6" >
            <ion-row style="background-image: url('assets/images/13.jpg');"  class="center-cropped">
            
              <ion-row class="gradiant"> 
                <p> Image Heading Given any arbitrary image, I want to crop </p>  
              </ion-row>
            </ion-row>
          </ion-col>
            <ion-col size="6" >
              <ion-row style="background-image: url('assets/images/15.jpg');"  class="center-cropped">
            
                <ion-row class="gradiant"> 
                  <p> Image Heading Given any arbitrary image, I want to crop </p>  
                </ion-row>
              </ion-row>
          </ion-col>
       
        
        </ion-row>
      
      </ion-col>
      <ion-col size="6">
     
      </ion-col>
    
    </ion-row>
  </div>

   
  </ion-grid>
</ion-content>
