<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="parent-card">
    <ion-card-header>
      <ion-row class="profile-head">
        <ion-col size="4">
          <img src="assets/images/pro-image.jpg" class="pro-image" />
          </ion-col>
          <ion-col size="8">
            <h3 class="primary-color"> Lidiya Mary</h3>
            <p> <ion-icon name="mail-outline" class="secondary-color"></ion-icon> lidiya@gmail.com</p>
            <p> <ion-icon name="call-outline" class="secondary-color"></ion-icon> +91 8894 343 34 33</p>
            <ion-badge color="secondary-color" class="secondary-color">Committee Member</ion-badge>
          </ion-col>
          </ion-row>

    </ion-card-header>

    
  
    <ion-card-content class="profile-contant">

      <ion-row>
        <ion-col size="6" class="col-no-padding-tb">
          <ion-label> Sex</ion-label>
          <p> Female</p>

          </ion-col>
          <ion-col size="6" class="col-no-padding-tb">
            <ion-label> DOB</ion-label>
            <p> 12/10/1995</p>
          </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" class="col-no-padding-tb">
              <ion-label> anniversary date</ion-label>
              <p> 12/10/1995</p>
              </ion-col>
              <ion-col size="6" class="col-no-padding-tb">
                <ion-label> Location</ion-label>
                <p> Chenni</p>
              </ion-col>
              </ion-row>
    

              <ion-row>
                <ion-col size="6" class="col-no-padding-tb">
                  <ion-label> Related to</ion-label>
                  <p> Person</p>
                  </ion-col>
                  <ion-col size="6" class="col-no-padding-tb">
                    <ion-label> Relation</ion-label>
                    <p> Person2</p>
                  </ion-col>
                  </ion-row>

     
    </ion-card-content>
    <ion-row>
      <ion-col size="12">

    <h3 class="family-member-head">Family Members</h3>

    </ion-col>
    </ion-row>
    <ion-card-content class="relation">

      <ion-row>
        <ion-col size="3">

          <img src="assets/images/pro-image.jpg" class="relation-image" />
         
          </ion-col>
          <ion-col size="7">
            <h3 class="primary-color"> Lidiya Mary</h3>
            <p class="no-m-para">Relation</p>
            <p>+01 7783 34 34 </p>
  
          </ion-col>
          <ion-col size="2">
            <ion-icon name="call" class="call-icon"></ion-icon>
          </ion-col>
          </ion-row>

       

     
    </ion-card-content>
    <ion-card-content class="relation">

      <ion-row>
        <ion-col size="3">

          <img src="assets/images/pro-image.jpg" class="relation-image" />
         
          </ion-col>
          <ion-col size="7">
            <h3 class="primary-color"> Lidiya Mary</h3>
            <p class="no-m-para">Relation</p>
            <p>+01 7783 34 34 </p>
  
          </ion-col>
          <ion-col size="2">
            <ion-icon name="call" class="call-icon"></ion-icon>
          </ion-col>
          </ion-row>

       

     
    </ion-card-content>
    <ion-card-content class="relation">

      <ion-row>
        <ion-col size="3">

          <img src="assets/images/pro-image.jpg" class="relation-image" />
         
          </ion-col>
          <ion-col size="7">
            <h3 class="primary-color"> Lidiya Mary</h3>
            <p class="no-m-para">Relation</p>
            <p>+01 7783 34 34 </p>
  
          </ion-col>
          <ion-col size="2">
            <ion-icon name="call" class="call-icon"></ion-icon>
          </ion-col>
          </ion-row>

       

     
    </ion-card-content>


    <ion-card-content class="relation">

      <ion-row>
        <ion-col size="3">

          <img src="assets/images/pro-image.jpg" class="relation-image" />
         
          </ion-col>
          <ion-col size="7">
            <h3 class="primary-color"> Lidiya Mary</h3>
            <p class="no-m-para">Relation</p>
            <p>+01 7783 34 34 </p>
  
          </ion-col>
          <ion-col size="2">
            <ion-icon name="call" class="call-icon"></ion-icon>
          </ion-col>
          </ion-row>

       

     
    </ion-card-content>



    

  


  </ion-card>

</ion-content>
