<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-grid>
    <div class="login-container">  
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      
        <form [formGroup]="loginForm" (ngSubmit)="logForm()">
        <div padding class="login">


          <ion-row>
         
        
      
         
            </ion-row>
          <ion-row>
         
           
           
              </ion-row>
          <ion-row >
            <ion-col size="4">
       
              </ion-col>
              <ion-col size="4">
                <img src="assets/images/logo.png" class="logo  floating-animation" />
              </ion-col>
              <ion-col size="4">
            
              </ion-col>
              <ion-col size="12">
              
               <h3 class="login-head"> World Malayalee Council</h3>
              </ion-col>
           
              </ion-row>
     
            <ion-input type="email" formControlName="username" placeholder="Username" class="login-input"></ion-input>
       
          <p class="error-text" *ngIf=" submitted&&loginForm.controls.username.errors?.required">Username is required!.</p>
          <p class="error-text" *ngIf=" submitted&&loginForm.controls.username.errors?.email">Username has to be a valid email address.</p>
       
            <ion-input type="password" formControlName="password" placeholder="Password" class="login-input"></ion-input>
        
          <p class="error-text" *ngIf=" submitted&&loginForm.controls.password.errors?.required">Password is required!.</p>
        </div>
  
        <div padding>
          <ion-button type="submit" [disabled]="!loginForm.valid"   href="/touchid" expand="block" class="login-btn">Login</ion-button>
        
        </div>
      </form>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col size="12">
     <p routerLink="/forgot-password" class="info1" style="text-align: center;
     margin: 0px;
     margin-bottom: 2px;
     font-size: 13px;
     color: #278ea5;">Forgot Password?</p>

     <hr style="background: #cccccc82;
     width: 68%;"> 
 
    <p class="info1" style="text-align: center;
    margin: 0px;
    margin-bottom: 4px;

    color: #383838;
    font-size: 12px;">Don't have an account? <span class="redirect info1" style="    text-align: center;
    margin: 0px;
    margin-bottom: 4px;
 
    font-size: 13px;
    color: #278ea5;    margin-left: 4px;" routerLink="/sign-up"> Sign Up</span></p>
 </ion-col>
  
    </ion-row>
  </div>
  </ion-grid>
</ion-content>
