<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref ="/dashboard/tabs/gallery">
        
      </ion-back-button>
    </ion-buttons>
    <ion-title>All photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>

      <ion-col size="12">

        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
          (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)"  style="height:100%;">
          <ion-slide *ngFor="let photo of sliderOne.slidesItems">
            <img src="{{photo.url}}">
          </ion-slide>
        </ion-slides>


      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- <h5>Slider with Space Between</h5>

   <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(slideOptsTwo,slideWithNav2)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">

        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(slideOptsTwo,slideWithNav2)">
          <ion-slide *ngFor="let photo of sliderTwo.slidesItems">
            <img src="{{photo.url}}">
          </ion-slide>
        </ion-slides>

      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>  -->

</ion-content>