<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Global committee   <img src="assets/images/World-Malyalee-Council.svg" class="tool-bar-logo" /> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

  <div *ngFor="let member of members" (click)="goToMemberView(member)">
    <!-- <div *ngIf='member.g_designation === "Chairman"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div> -->
    <!-- <div *ngIf='member.g_designation === "Global Chairman"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "Global president"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "Global Secretary General"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "VP (admin)"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "President"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf='member.g_designation === "Vice President"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf='member.g_designation === "Tresurer"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "secretary"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf='member.g_designation === "Committe member"'>
      <ion-row class="member-list">
        <ion-col size="3">
          <img
            src="{{ member.photoURL!= null ?member.photoURL : src}}"
            class="pro-image"
          />
        </ion-col>
        <ion-col size="9">
          <ion-label class="primary-color"
            >{{member.firstName}} {{member.lastName}}</ion-label
          >
          <p class="desig secondary-color">{{member.g_designation}}</p>
          <p class="desig2">{{member.mobile}}</p>
        </ion-col>
      </ion-row>
    </div> -->
    <ion-row class="member-list">
      <ion-col size="3">
        <img
          src="{{ member.photoURL!= null ?member.photoURL : src}}"
          class="pro-image"
        />
      </ion-col>
      <ion-col size="9">
        <ion-label class="primary-color"
          >{{member.firstName}} {{member.lastName}}</ion-label
        >
        <p class="desig secondary-color">{{member.g_designation.designation}}</p>
        <p class="desig2">{{member.mobile.internationalNumber}}</p>
      </ion-col>
    </ion-row>
  </div>
  
  <!-- <ion-row class="member-list">
    <ion-col size="3">
      <img src="assets/images/pro-image.jpg" class="pro-image" />
    </ion-col>
    <ion-col size="9">
      <ion-label class="primary-color">Dona Hicks</ion-label>
      <p class="desig secondary-color">Admin</p>
      <p class="desig2">Management</p>
    </ion-col>
  </ion-row> -->
  <!--  <ion-row class="member-list">
              <ion-col size="3">
                <img src="assets/images/pro-image.jpg" class="pro-image" />
                </ion-col>
                <ion-col size="9">
                  <ion-label class="primary-color">Dona Hicks</ion-label>
                  <p class="desig secondary-color">Admin</p>
                  <p class="desig2">Management</p>
                </ion-col>
             
                </ion-row>
                <ion-row class="member-list">
                  <ion-col size="3">
                    <img src="assets/images/pro-image.jpg" class="pro-image" />
                    </ion-col>
                    <ion-col size="9">
                      <ion-label class="primary-color">Dona Hicks</ion-label>
                      <p class="desig secondary-color">Admin</p>
                      <p class="desig2">Management</p>
                    </ion-col>
                 
                    </ion-row>
                    <ion-row class="member-list">
                      <ion-col size="3">
                        <img src="assets/images/pro-image.jpg" class="pro-image" />
                        </ion-col>
                        <ion-col size="9">
                          <ion-label class="primary-color">Dona Hicks</ion-label>
                          <p class="desig secondary-color">Admin</p>
                          <p class="desig2">Management</p>
                        </ion-col>
                     
                        </ion-row>
                        <ion-row class="member-list">
                          <ion-col size="3">
                            <img src="assets/images/pro-image.jpg" class="pro-image" />
                            </ion-col>
                            <ion-col size="9">
                              <ion-label class="primary-color">Dona Hicks</ion-label>
                              <p class="desig secondary-color">Admin</p>
                              <p class="desig2">Management</p>
                            </ion-col>
                         
                            </ion-row>
                            <ion-row class="member-list">
                              <ion-col size="3">
                                <img src="assets/images/pro-image.jpg" class="pro-image" />
                                </ion-col>
                                <ion-col size="9">
                                  <ion-label class="primary-color">Dona Hicks</ion-label>
                                  <p class="desig secondary-color">Admin</p>
                                  <p class="desig2">Management</p>
                                </ion-col>
                             
                                </ion-row>
                                <ion-row class="member-list">
                                  <ion-col size="3">
                                    <img src="assets/images/pro-image.jpg" class="pro-image" />
                                    </ion-col>
                                    <ion-col size="9">
                                      <ion-label class="primary-color">Dona Hicks</ion-label>
                                      <p class="desig secondary-color">Admin</p>
                                      <p class="desig2">Management</p>
                                    </ion-col>
                                 
                                    </ion-row> -->
</ion-content>
