<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="/dashboard/tabs/profile">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile<img src="assets/images/World-Malyalee-Council.svg" class="tool-bar-logo" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="parent-card">
    <ion-card-header>
      <ion-row class="profile-head">
        <ion-col size="4"></ion-col>
        <ion-col size="4">
          <img [src]="currentUser.photoURL?currentUser.photoURL:src" class="pro-image" />
          <!-- <img src="assets/images/shabu_1.jpeg" class="pro-image" /> -->
          </ion-col>
          <ion-col size="4"></ion-col>
          </ion-row>
<ion-row>
  <ion-col size="3"></ion-col>
  <ion-col size="6">
    <input type="file" accept="image/*"  (change)="uploadFile($event)" id="myFileInput"/>
    <!-- <label for="fileInput" icon-only ion-button>
      <ion-icon name="camera"></ion-icon>
  </label> -->
  <label for="fileInput">
    Change Profile Photo
  </label> 

  </ion-col>
  
<ion-col size="4"></ion-col>
</ion-row>
    </ion-card-header>


  <form class="form" [formGroup]="profile_form" (ngSubmit)="addUserData(profile_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">First Name</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Last Name</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating" color="primary">Code</ion-label>
      <ion-select placeholder="+" formControlName="countryCode">
        <ion-select-option *ngFor="let i of paiseCode" [value]="i.code">{{i.pais}}
        </ion-select-option>
      </ion-select>
      <ion-label position="floating" color="primary">Mobile number</ion-label>
      <ion-input type="number" formControlName="mobileNumber"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Date of birth</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY" formControlName="dob"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Anniversary date</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY" formControlName="anndate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Region</ion-label>
      <ionic-selectable formControlName="region" [items]="regions" itemValueField="id" itemTextField="name"
        [canSearch]="true" (onChange)="regionChange($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Country</ion-label>
      <ionic-selectable formControlName="country" [items]="countries" itemValueField="id" itemTextField="name"
        [canSearch]="true" (onChange)="countryChange($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Province</ion-label>
      <ionic-selectable formControlName="province" [items]="provinces" itemValueField="shortCode" itemTextField="name"
        [canSearch]="true">
      </ionic-selectable>
    </ion-item>





    <ion-button class="submit-btn" type="submit" [disabled]="!profile_form.valid">Save</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="bottom_bar">
    <p class="info1" style="text-align: center;
    margin: 0px;
    margin-bottom: 4px;

    color: #383838;
    font-size: 12px;">
      Developed by INSYSME</p>
    <!-- put some elements here -->
  </div>
</ion-footer>