


<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list" class="pt-0">
        <img src="assets/images/World-Malyalee-Council.svg" class="left-logo" />
        <ion-list-header> World Malayalee Council</ion-list-header>
        <ion-note>shine.samuel@insysme.com</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
<!-- 
      <ion-list id="labels-list">
        <ion-list-header>Labels</ion-list-header>

        <ion-item *ngFor="let label of labels" lines="none">
          <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
          <ion-label>{{ label }}</ion-label>
        </ion-item>
      </ion-list> -->
    </ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-menu>
  
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="view-articles">
        <ion-icon name="book"></ion-icon>
        <!-- <ion-label></ion-label> -->
      </ion-tab-button>
  
      <ion-tab-button tab="gallery">
        <ion-icon name="image"></ion-icon>
        <!-- <ion-label>Tab 2</ion-label> -->
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <!-- <ion-label>Tab 3</ion-label> -->
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-split-pane>